@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");


.sign-up {
  box-sizing: border-box;
  cursor: pointer;
  height: 56px;
  margin: 12px 18px;
  padding: 12px;
  font-size: 18px;
  color: var(--theme-color-2);
  background: none;
  border: solid 2px var(--theme-color-2);
  border-radius: 28px;
  transition: all 0.2s;
}

.header {
  text-align:right;
  font-size: large;
}

i[class^="btn"] {
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--active-color)
}

body {
  margin: 0;
  background-color: #F2D7D3;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  max-height: 120vh;
  width: 100vw;
  overflow-x: hidden;
}

.wave-container {
  width: 300vw;
  height: 30%;
  position: absolute;
  bottom: -10%;
  transform: translate3d(0, 0, 0);
  z-index: -10;
}

.wave {
  opacity: 1;
  position: absolute;
  top: 60%;
  left: -28%;
  background: #18DFAD;
  width: 100%;
  height: 300vw;
  transform-origin: 50% 49%;
  border-radius: 49%;
  -webkit-animation: drift 3000ms infinite linear;
  animation: drift 8000ms infinite linear;
  will-change: transform;
  z-index: -20;
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: 1;
  background: var(--theme-color-blue);
  top: 60%;
  left: -32%;
  z-index: -10;
}

.wave.-three {
  animation: drift 4000ms infinite linear;
  opacity: 1;
  background: #F12645;
  top: 60%;
  left: -36%;
  z-index: -30;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.bg {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50%;
  background-color: var(--theme-color-blue);
  z-index: -1;
}

.line {
  position: fixed;
  left: 50vw;
  width: 2px;
  height: 80px;
  top: 24vh;
  background-color: white;
}

.header .burger-wrapper:hover,
.header .logo-text:hover {
  opacity: 1
}

.text-wrap {
    /* position: absolute;
    text-align:center;
    left: 43%;
    width: 2px;
    height: 80px;
    top: 24vh; */
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-wrap .text {
  cursor: pointer;
  position: relative;
}
.text-wrap span {
  color: #fff9e1;
  font-size: 100px;
  font-weight: 300;
  padding: 0 2%;
}

.main-btn_wrapper .main-btn {
  line-height: 36px;
}

.header {
  width:96.5%;
  position: fixed;
  left: 2.2vw;
  top: 2.2vw;
  margin-left: -4px;
  margin-top: -6px;
  color: var(--theme-color-1);
  z-index: 103;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 30px;
  text-align:right;
  font-size: large;
}
.header .burger-wrapper {
  width: 20px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5;
}
.header .burger {
  width: 20px;
  height: 3px;
  background-color: var(--theme-color-1);
  position: relative;
}
.header .burger:before, .header .burger:after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: var(--theme-color-1);
  position: absolute;
  left: 0;
}
.header .burger:before {
  top: -6px;
}
.header .burger:after {
  top: 6px;
  width: 14px;
}
.header .logo-text {
  font-size: 20px;
  color: var(--theme-color-1);
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5;
}

/* Side Nav */
.nav {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgb(248, 201, 201); */
  width: 20vw;
  /* min-width: 500px; */
  height: 100vh;
  z-index: 10;
  box-shadow: 0 30px 80px 0 rgba(97, 45, 45, 0.25);
  transition: all 0.5s ease-in;
  transform: translateX(0);
  /* font-family: 'Do Hyeon', sans-serif; */
}

.nav.hidden-nav {
  opacity: 0;
  transform: translateX(-100%)
}

.nav ul {
  color: var(--theme-color-blue);
}
.nav ul.nav_main {
  margin-top: 20vh;
}
.nav ul.nav_sub {
  margin-top: 10vh;
}
.nav ul.nav_sub a {
  font-size: 1.5vw;
}
.nav ul li {
  margin-left: 1vw;
  margin-bottom: .5vw;
  position: relative;
}

.nav_link {
  font-size: 2vw;
  cursor: pointer;
}
.nav_link:before {
  content: '';
  position: absolute;
  width: 4vw;
  height: 2px;
  background-color: #444444;
  left: -12vw;
  top: 50%;
  transition: 0.4s;
}

/* .nav_divider {
  width: 3vw;
  height: 1px;
  background-color: rgba(37, 33, 32, 0.12);
  margin: 4vh 6vw;
} */

.nav li .nav_link:hover:before {
  left: -6vw;
}

@media (max-width: 799px) {
  .nav {
    width: 100vw;
  }

  .nav ul.nav_sub a {
    font-size: 3vh;
  }

  .nav_link {
    font-size: 5vh;
  }
}

#curator {
  display: block;
  margin-top: 12.55vh; 
  text-align: center;
  color: var(--theme-color-1);
}
#curator .curator_title_wrapper {
  /* position: fixed; 
  */
  width: 100%;
  margin-bottom: 2.25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#curator .curator_title_wrapper span {
  font-size: 2.16vh;
}
#curator .curator_title_wrapper .curator_title {
  font-size: 50px;
}
#curator .curator_title_wrapper .curator_line {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin: 0 30px;
  background-color: var(--theme-color-1);
}

.curator_list {
  text-align: center;
  /* font-size: 14px; */
  width: 100vw;
  margin-top: 4.5vh;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out;
}

.connect_btn {
  border-radius: 50%;
  width: 18vh;
  height: 18vh;
  background-image: linear-gradient(280deg, #2f2a29 0%, #2f2a29 100%);
  color: #f1dfdd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.connect_btn .connect_btn_text {
  z-index: 9;
}

.connect_btn:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  background-image: linear-gradient(225deg, #ff6700 0%, #ff2df0 100%);
  transition: 0.5s;
}

.connect_btn:hover:before {
  opacity: 1;
}


.selection-menu,
.youtube-comparison-container,
#audio-upload-form,
.error-page-container,
.main-container {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
}
.youtube-comparison-container {
  flex-direction: row;
}
.error-page-container {
  font-size: 18px;
  margin-top: 7.5vh;
  margin-bottom: 5vh;
}
  .error-page-container .prompt-container {
    font-size: 22px;
    padding-bottom: 13px;
  }
.loading-screen-container {
  display: flex;
  margin-top: 7.5vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.youtube-comparison-container {
  margin: 0;
}
  .youtube-video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(var(--youtube-playback-height) + 40px);
    max-height: calc(var(--youtube-playback-height) + 40px);
    min-width: calc(var(--youtube-playback-width) + 40px);
    max-width: calc(var(--youtube-playback-width) + 40px);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
    background-color: rgb(40, 40, 40);
  }
  #youtube-video {
    min-height: var(--youtube-playback-height);
    min-width: var(--youtube-playback-width);
    max-height: var(--youtube-playback-height);
    max-width: var(--youtube-playback-width);
    transition: all 0.1s;
    margin: 0px;
  }
  #playback-bar-container {
    display: flex;
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: rgb(177, 177, 177)
  }
    #youtube-playback-button {
      font-size: 16px;
      width: 40px;
      color: rgb(177, 177, 177);
      margin-left: 8px;
      transition: color 0.3s;
    }
      #youtube-playback-button:hover {
        color: grey;
      }
    #youtube-playback-bar {
      position: relative;
      top: -2px;
      width: calc(100% - 150px);
    }
    #youtube-playback-timer {
      margin-left: 8px;
    }
  .youtube-playback-controls {
    height: var(--youtube-playback-height)
  }
  #link-input {
    font-size: 18px;
    color: #FFF;
  }
  .youtube-video-wrapper #loading-spinner {
    color: rgb(231, 231, 231);
  }
  #youtube-recording-offset {
    width: 40px;
  }

#audio-visualiser {
  height: 80px;
  width: 220px;
  margin-top: 12px;
  background-color: #222222;  
}

.selection-menu {
  margin-top: 3vh;
  padding: 50px;
}

.prompt-container {
  font-size: 18px;
  height: 20px;
  color: var(--warning-color);
  transition: all 0.3s;
  margin-bottom: 18px;
  padding-top: 0;
}
.form-element{
  display: flex;
  justify-content: center;
  padding-top: 12px;
}
.form-element-option {
  display: flex;
  justify-content: flex-start;
  padding: 6px 12px 3px 12px;
}
  .form-element .form-element-option input~label {
    transform: none;
    background: none;
    font-size: 16px;
    color: var(--theme-color-1);
    margin: 0 8px 0 4px;
  }
  .form-element .form-element-option input[type=radio] {
    position: relative;
    top: 7px;
  }
  .form-element .form-element-option input[type=text] {
    padding-left: 3px;
  }
  .vertical.form-element,
  .form-actions {
    flex-direction: column;
  }

.text-input-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 375px;

}
  .text-input-element input,
  .text-input-element textarea {
    width: 100%;
    margin: 4px 0px;
    border: solid 1px #8692A6;
    border-radius: 3px;
    background: var(--Backgroud-color-1);
    padding: 0.45rem 0.55rem;
    font-family: 'Oswald', sans-serif;
  }
  .text-input-element textarea {
    height: 4rem;
    resize: none;
  }
  .text-input-element h3 {
    margin-top: 0;
  }

.custom-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 56px;
  margin: 6px 12px;
  padding: 14px;
  font-size: 18px;
  color: white;
  background-color: var(--theme-color-2);
  border: solid 2px white;
  border-radius: 28px;
  transition: all 0.2s
}

.custom-button.small {
  margin: 6px 12px;
  width: 175px;
}

.custom-button.medium {
  width: 245px;
} 

.custom-button.large {
  width: 466px;
  margin: 25px;
}

.hidden-file-input,
.hidden-audio-element {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.custom-button:hover, 
.custom-button.medium:hover, 
.custom-button.large:hover {
  background-color: var(--active-color);
  
}

.audio-player-container {
  transition: all 0.3s ease-in-out;
}

/* Audio Progress Bar */

#progress_box{
	margin-top: 400px;
	position: relative;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
input{
  padding-bottom: 30px;
  padding-left: 20px;
}
#track_time{
	display: inline-block;
	position: absolute;
	font-size: 25px;
	font-family: Arial;
	color: #3ab3a8;
  font-weight: bolder;
	top: 80px;
  right: 0;
}
#track_time .total{
	color: #555;
	font-size: 15px;
}
#track_time .seek{
	color: #000;
	font-weight: bolder;
}
#progress_bar_box{
	position: relative;
	background: #ccc;
}
#progress_bar{
	width: 100%;
  margin-left: auto;
  margin-right: auto;
	height: 40px;
	
	position: relative;
	z-index: 2;
}
#progress{
	position: absolute;
	left:0;
	top: 0;
	width: 0;
	height: 40px;
	background: #3ab3a8;
	transition: width 0.3s linear;
	z-index: 1;
}

.upload {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
}

.upload_user {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }

 #play{
    position: absolute;
    /* top: -50px; */
    right: 50%;
	width: 30px;
	height: 30px;
    margin-right: -15px;
    /* background: #fff; */
    padding: 0px;
    cursor: pointer;
}
#play.pause:before,
#play.pause:after{
	position: absolute;
	content: "";
	top: 0;
	left: 5px;
	width: 8px;
	height: 30px;
	background: #3ab3a8;
}
 #play.pause:after{
	left: 17px;
}
#play.play:after{
	position: absolute;
	content: "";
	left: 11px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent transparent #777;
}


.hidden {
  opacity: 0;
}

.voiceComparewithAudio-comparison-container{
  display: flex;
  justify-content: center;
}

.lyricsHandler{
  margin-left:40px;
  /* margin-top: 20px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lyrics-result  {
  height: 350px;
  /* width: 350px; */
  overflow-x: scroll;
  /* margin-left: 12px;  */
  margin-right: none;
} 

.Song-title {
  color: var(--theme-color-green);
}

.Song-lyrics {
  height: 100%;
  word-break: break-all;
  color: var(--theme-color-blue); 
}

.text-get-lyrics {
  display:flex;
}

.text-get-lyrics > .text-input-element {
  width: 200px;
}

.audio-form-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#recording-player {
  margin-top: 20px;
}


/* Mic and Speaker Testing icon */

.rightNav {
  color: var(--theme-color-blue);
  font-size: 1.5rem;
	position: fixed;
	height: 32px;
	right: 2.2vw;
	top: 2.2vw;
	z-index: 1;
	display: flex;
  align-items: center;
}

.popup-mic {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px;
}

.popupbox-mic {
  visibility: hidden;
  width: 300px;
  background-color: #fbf2f1;
  color: var(--theme-color-blue);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top:125%;
  margin-left:-220px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
}

.popup-mic .popupbox-mic.show-micTest {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup-headphone {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px;
}

.popupbox-headphone {
  visibility: hidden;
  width: 300px;
  background-color: #fbf2f1;
  color: var(--theme-color-blue);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top:125%;
  margin-left:-280px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
}

.popup-headphone .show-playMusic {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes spin {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(120deg);}
  50%  {transform: rotate(180deg);}
  75%  {transform: rotate(320deg);}
  100% {transform: rotate(360deg);}
}

#loading-spinner {
  animation: spin 2s infinite linear;
  font-size: 40px;
}

.test-icon-mic:hover,.test-icon-speak:hover {
  color: var(--active-color);
}


/* Performace Report */


.report-card {
  margin: 100px auto;
  border-radius: 6px;
  background: #fbf4f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 500px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

li.colorize {
  display: inline-block;
  height: 75px;
  width: 10px;
  border: 1px solid black;
  margin: 2px;
 
} 

#resultDisplayBar {
  height: 75px;
  margin: 30px;
  flex-wrap:wrap;
}

#score {
  text-align: center;
  margin-top: 25px;
  color: var(--theme-color-blue);
  font-size: 20px;
}

.statement {
  color: var(--theme-color-blue);
  font-size: 15px;
}

#statement-high {
  color: var(--theme-color-green);
}

#statement-low {
  color: var(--theme-color-red);
}


/* Reports List */

.outer-container {
  background-color:transparent;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  width: 800px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 0.5em;
  overflow-y: hidden;
  overflow-x: hidden;
}
.outer-container:hover {
  overflow-y: scroll;
}

.report-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


p {
  transition: 300ms ease-out;
  margin: 0;
}

.ui-item {
  text-transform: uppercase;
  font-size: 1.2em;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  transition: 300ms ease-out;
  background-color: transparent;
}
.ui-item:hover {
  cursor: pointer;
  color:#11B5E4;
}
.ui-item:hover p {
  font-size: 1.5em;
}
.ui-item:hover .moving-icon {
  transform: rotate(-35deg);
  color:#11B5E4;
}

.moving-icon {
  font-size: 3em;
  transition: 300ms ease-out;
}

.ion-ios-arrow-forward {
  color: white;
  font-size: 1.5em;
  transition: 100ms ease-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

@media (max-width: 1024px) {
  #curator .curator_title_wrapper {
    margin-bottom: 0.75vh;
  }
  #curator .curator_title_wrapper .curator_title {
    font-size: 28px;
  }
  .youtube-comparison-container {
    flex-direction: column;
  }
  #audio-upload-form {
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    padding: 10px;
  }
}

